@use '../../../styles/variables.scss';

@keyframes toast-enter {
    0% {
        transform: translate3d(0, 200%, 0) scale(0.6);
        opacity: 0.5;
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }
}

@keyframes toast-exit {
    0% {
        transform: translate3d(0, 0, -1px) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate3d(0, 150%, -1px) scale(0.6);
        opacity: 0;
    }
}

.global-toast-region {
    inset: 1.5rem;
    pointer-events: none;
    position: fixed;
    z-index: variables.$toast-z-index;
}

.toast-wrapper {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    transition: all 230ms cubic-bezier(0.21, 1.02, 0.73, 1);
}

.toast-wrapper--active {
    z-index: variables.$toast-z-index;
}

.toast {
    border-radius: var(--radius-md);
    box-shadow: var(--elevation-3xl);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    outline: none;
    overflow: hidden;
    pointer-events: auto;
    will-change: transform;
}

.toast--entering {
    animation: toast-enter 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

.toast--exiting {
    animation: toast-exit 0.4s forwards cubic-bezier(0.06, 0.71, 0.55, 1);
}

.toast--hidden {
    opacity: 0;
}

.toast__body {
    align-items: center;
    background: var(--feedback-background-enabled-strong);
    color: var(--feedback-text-primary-inverted);
    display: flex;
    gap: var(--space-xs);
    padding: var(--space-sm);
}

.toast__text {
    flex: 1 1 auto;
}

.toast__icon-wrapper {
    background: var(--feedback-background-enabled-weak);
    border-radius: var(--radius-xs);
    display: flex;
    padding: var(--space-xxs);
}

.toast-progress-bar__bar {
    background: var(--feedback-border-enabled-weak);
    height: var(--space-3xs);
}

.toast-progress-bar__fill {
    background: var(--feedback-border-enabled-strong);
    height: 100%;
}

/* VARIANTS */
.toast--informative {
    .toast__icon {
        color: var(--feedback-icon-informative-strong);
    }
}

.toast--success {
    .toast__icon {
        color: var(--feedback-icon-success-strong);
    }
}

.toast--danger {
    .toast__icon {
        color: var(--feedback-icon-danger-strong);
    }
}

.toast--warning {
    .toast__icon {
        color: var(--feedback-icon-warning-weak);
    }
}

.toast--loading {
    .spinner {
        color: var(--feedback-icon-neutral-strong-inverted);
    }
}
