@use '../../../styles/mixins.scss';

@mixin search-field-padding($p-top-bottom, $p-right-left) {
    .search-field__input {
        padding: $p-top-bottom calc($p-right-left + var(--space-lg) + var(--space-xxs));
    }

    .search-field__search-icon {
        left: $p-right-left;
    }

    .search-field__clear-button {
        right: $p-right-left;
    }
}

.search-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    &[data-empty],
    &[data-disabled] {
        .search-field__clear-button {
            display: none;
        }
    }
}

.search-field__search-icon {
    color: var(--input-icon-enabled);
    height: var(--space-lg);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--space-lg);
}

.search-field__input {
    background: transparent;
    border: none;
    border-radius: var(--radius-lg);
    color: var(--input-text-enabled-strong);
    text-overflow: ellipsis;
    width: 100%;

    &::placeholder {
        color: var(--input-text-enabled-weak);
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
        appearance: none;
    }

    &:focus {
        outline: none;
    }
}

.search-field__clear-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search-field__content {
    align-items: center;
    background: var(--input-background-enabled);
    border: 1px solid var(--input-border-enabled-strong);
    border-radius: var(--radius-lg);
    display: flex;
    position: relative;
}

.search-field--xs {
    min-width: 84px;

    @include search-field-padding(var(--space-xxs), var(--space-xs));

    .search-field__content {
        height: 28px;
    }
}

.search-field--sm {
    min-width: 96px;

    @include search-field-padding(var(--space-xxs), var(--space-sm));

    .search-field__content {
        height: 32px;
    }
}

.search-field--md {
    min-width: 120px;

    @include search-field-padding(var(--space-xs), var(--space-sm));

    .search-field__content {
        height: 40px;
    }
}

/* HOVER STATE */
.search-field__content[data-hovered] {
    background: var(--input-background-action-hover);
    border-color: var(--input-background-action-hover);
}

/* FOCUSED STATE */
.search-field__content[data-focused] {
    background: var(--input-background-enabled);
    border-color: var(--input-border-active);

    @include mixins.focus-ring(3px, 3px, var(--radius-lg));
}

/* DISABLED STATE */
.search-field[data-disabled] > .search-field__content {
    background: var(--input-background-disabled-weak);
    border-color: var(--input-border-disabled);

    > .search-field__search-icon {
        color: var(--input-icon-disabled-strong);
    }

    > .search-field__input {
        color: var(--input-text-disabled);

        &::placeholder {
            color: var(--input-text-disabled);
        }
    }
}
