.side-nav {
    align-items: center;
    border-radius: var(--radius-none);
    display: inline-flex;
    flex-direction: column;
    gap: 14px;
    height: 100vh;
    min-width: 48px;
    overflow: hidden;
    padding: var(--space-sm);
    transition-property: min-width, width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    width: 48px;
}

.side-nav__content {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: var(--space-none);
    width: 100%;
}

.side-nav--mode-default {
    background-color: var(--nav-background-side-nav);
}

.side-nav--mode-inverted {
    background-color: var(--nav-background-side-nav-inverted);
}

.side-nav__header {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-none);
    width: 100%;
}

.side-nav__toggle {
    margin: 0 auto;
}

.side-nav__nav-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
    width: 100%;
}

.side-nav__nav-section {
    gap: var(--space-none);
}

.side-nav__sub-nav-list {
    gap: var(--space-none);
}

.side-nav__nav-list-item {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
}

.side-nav__nav-item-trigger {
    display: flex;
    flex: 1 0 auto;
}

.side-nav__divider:before,
.side-nav__divider:after {
    background-color: var(--nav-border-decor-enabled);
    opacity: 0.1;
}

.side-nav--expanded {
    gap: var(--space-none);
    min-width: 250px;
    overflow-y: auto;
    padding: var(--space-none);
    width: 250px;

    > .side-nav__content {
        padding: var(--space-xl) var(--space-xs);

        > .side-nav__nav-list {
            align-items: flex-start;
            flex: 1 0 auto;
            gap: var(--space-none);
        }
    }

    > .side-nav__header {
        flex-direction: row;
        gap: var(--space-none);
        justify-content: space-between;
        padding: var(--space-md);
        position: relative;

        > .side-nav__toggle {
            margin-left: auto;
            margin-right: 0;
        }

        > .side-nav__divider {
            bottom: 0;
            left: 0;
            position: absolute;
        }
    }
}

.side-nav__icon-button-wrapper {
    position: relative;

    .nav-item__badge {
        position: absolute;
        right: -4px;
        top: -4px;
        z-index: 1;
    }
}

.side-nav__icon-button.plain-button--neutral {
    color: var(--nav-icon-enabled-weak);
}
