html,
body,
div,
form,
pre,
span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
svg,
input,
button,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
img,
nav,
section {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body,
button,
input,
textarea,
kbd {
    font-family: var(--font-family-body), sans-serif;
}

body {
    font-weight: var(--font-weight-body-regular);
}

b,
strong {
    font-weight: var(--font-weight-body-strong);
}

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ol,
ul {
    padding-inline-start: 1.4em;
}
