.progress-bar {
    width: 100%;
}

.progress-bar__bar {
    background-color: var(--feedback-border-enabled-weak);
    border-radius: var(--radius-xs);
    display: flex;
    flex-direction: row;
    height: var(--space-xs);
    overflow: hidden;
}

.progress-bar__bar-wrapper {
    width: 100%;
}

.progress-bar__bottom_container {
    display: flex;
}

.progress-bar__bottom_left-container {
    display: flex;
    flex-direction: column;
}

.progress-bar__fill {
    background-color: var(--feedback-border-enabled-strong);
    border-radius: 0 var(--radius-xs) var(--radius-xs) 0;
    height: 100%;
    transition: width 0.3s ease;
}

@keyframes progress-bar-indeterminate {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(300%);
    }
}

.progress-bar__fill--indeterminate {
    animation: progress-bar-indeterminate 1.5s infinite;
    border-radius: var(--radius-xs);
    width: 40%;
}

.progress-bar__help-text {
    margin-top: var(--space-xs);
}

.progress-bar__label {
    color: var(--feedback-text-primary);
}

.progress-bar__label--bottom {
    margin-top: var(--space-xs);
}

.progress-bar__label--top {
    margin-bottom: var(--space-xs);
}

.progress-bar__top_container {
    align-items: center;
    display: flex;
}

.progress-bar__value-label {
    color: var(--feedback-text-primary);
}

.progress-bar__value-label--bottom {
    margin-left: auto;
    margin-top: var(--space-xs);
}

.progress-bar__value-label--right {
    margin-left: var(--space-sm);
}

.loading-indicator-progress-bar {
    bottom: 0;
    left: 0;
    position: absolute;

    .progress-bar__bar {
        border-radius: var(--radius-none);
        height: var(--space-xxs);
    }
}
