@use '../../../styles/mixins.scss';

.timepicker {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    width: 100%;
}

.timepicker__controls {
    align-items: center;
    background-color: var(--input-background-enabled);
    border: var(--stroke-xxs) solid var(--input-border-enabled-strong);
    border-radius: var(--radius-xs);
    display: flex;
    gap: var(--space-xxs);
    position: relative;
}

.timepicker__controls--md {
    height: 40px;
    padding: var(--space-xs) var(--space-sm);
}

.timepicker__controls--sm {
    height: 32px;
    padding: var(--space-xxs) var(--space-sm);
}

.timepicker__controls--xs {
    height: 28px;
    padding: var(--space-xxs) var(--space-xs);

    .timepicker__buttons {
        gap: var(--space-xs);
    }

    .timepicker__button > .icon,
    .timepicker__clear-button > .icon {
        height: 18px;
        width: 18px;
    }
}

.timepicker__input {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    white-space: nowrap;
}

.timepicker__buttons {
    align-items: center;
    display: flex;
    gap: var(--space-xxs);
}

.timepicker__button {
    align-items: center;
    background: none;
    border: none;
    border-radius: var(--radius-lg);
    color: var(--input-icon-enabled);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    outline: none;
    padding: 0;
    position: relative;

    &[data-disabled] {
        color: var(--input-icon-disabled-weak);
        cursor: default;
    }

    &[data-focus-visible] {
        @include mixins.focus-ring(3px, 2px, var(--radius-lg));
    }
}

.timepicker__segment {
    caret-color: transparent;
    color: var(--input-text-enabled-strong);
    outline: none;
}

.timepicker__segment[data-placeholder] {
    color: var(--input-text-enabled-weak);
    letter-spacing: 1px;
}

.timepicker__segment:focus {
    background: var(--input-background-selected-enabled-weak);
    color: var(--input-text-enabled-strong-inverted);
}

.timepicker__controls[data-hovered] {
    border-color: var(--input-border-hover);
}

.timepicker__controls[data-focus-within] {
    border-color: var(--input-border-active);

    @include mixins.focus-ring(3px, 3px, var(--radius-xs));
}

.timepicker__controls[data-invalid] {
    border-color: var(--input-border-error);
}

.timepicker__controls[data-disabled],
.timepicker__controls[data-disabled][data-hovered] {
    background-color: var(--input-background-disabled-weak);
    border-color: var(--input-border-disabled);

    .timepicker__segment {
        color: var(--input-text-disabled);
    }
}

.timepicker__popover {
    border-radius: var(--radius-xs);
    border: 1px solid var(--input-border-enabled-strong);
    background: var(--input-background-enabled);
    box-shadow: var(--elevation-lg);
    overflow: hidden;
    width: var(--trigger-width);
}

.timepicker__menu {
    max-height: inherit;
    overflow: hidden auto;
    padding: var(--space-xxs) var(--space-none);

    &:focus-visible {
        outline: none;
    }
}
