.severa-logo {
    align-items: center;
    display: flex;
    height: 24px;
    gap: var(--space-xs);
}

.severa-logo__text {
    color: var(--blue-undertone-800);
}

.severa-logo__text--inverted {
    color: var(--toned-gray-0);
}
