.help-text {
    align-items: flex-start;
    display: flex;
    gap: var(--space-xxs);
}

.help-text--neutral {
    color: var(--input-text-enabled-weak);

    > .icon {
        color: var(--input-icon-enabled);
    }
}

.help-text--danger {
    color: var(--input-text-error);

    > .icon {
        color: var(--input-icon-error);
    }
}

.help-text--success {
    color: var(--success-700);

    > .icon {
        color: var(--input-icon-success);
    }
}

.help-text--disabled {
    color: var(--input-text-disabled);

    > .icon {
        color: var(--input-icon-disabled-weak);
    }
}
